/* --- Colors --- */
$color-black:  #111818;
$color-gray:   #42515B;
$color-silver: #AAB1B4;
$color-white:  #FAFAFA;

/* --- Font --- */
$font-mono: "PT Mono", "Consolas", monospace;

$weight-regular: 400;

/* --- Motion --- */
$time:   300ms;
$easing: cubic-bezier(0.18, 0.65, 0.64, 0.89);

/* --- Base --- */
$base-background:  $color-white;
$base-color:       $color-black;
$base-font:        $font-mono;
$base-font-size:   20px;
$base-line-height: 1.5;

$base-font-size-md: 15px;
$base-font-size-sm: 10px;

/* --- Typography --- */
// H1
$h1-pre-color:       $color-silver;
$h1-pre-font-size:   2.25em;
$h1-pre-line-height: 1.34em;

$h1-aft-color:       $color-black;
$h1-aft-font-size:   4em;
$h1-aft-line-height: 1em;

// H2
$h2-display:   inline-block;
$h2-font-size: 1.75em;

// Links
$link-margin:    1em;
$link-color:     $color-gray;
$link-color-hov: $color-silver;
$link-font-size: 0.9em;

/* --- Header --- */
$header-top:     2em;
$header-left:    0;
$header-padding: 0 3em;
