/* --- H1 --- */
h1 {
  text-align: center;
  transition: opacity $time $easing;
  &.pre {
    color: $h1-pre-color;
    font-size: $h1-pre-font-size;
    line-height: $h1-pre-line-height;
  }
  &.aft {
    color: $h1-aft-color;
    font-size: $h1-aft-font-size;
    line-height: $h1-aft-line-height;
  }
}

/* --- H2 --- */
h2 {
  display: $h2-display;
  font-size: $h2-font-size;
}

/* --- Links --- */
a {
  color: $link-color;
  font-size: $link-font-size;
  text-decoration: none;
  transition: color $time $easing;
  &:hover {
    color: $link-color-hov;
  }
}
/* --- Hidden --- */
.hidden {
  opacity: 0;
}
